@mixin d-flex {
    display: flex;
}

* {
    box-sizing: border-box;
}

.header {
    margin: auto;
    max-width: 1920px;

    // contain
    &__hero {
        background: url(../src/img/illiquid/2386.png) center center no-repeat;
        background-size: cover;
        min-height: 470px;
    }
}

.slider {
    overflow: hidden;

    &__track {
        display: flex;
        transition: .2s;
    }

    &__item {
        width: 510px;
        min-width: 507px;

        section {
            position: absolute;
            z-index: auto;
        }
    }
}

.slider2 {
    overflow: hidden;

    &__track {
        display: flex;
        transition: .2s;
    }

    &__item {
        width: 510px;
        min-width: 380px;

        section {
            position: absolute;
            z-index: auto;
        }
    }
}

.pd {
    padding: 0;
}

.block {
    display: none;
}

.navbar {
    padding: 50px 200px;

    &__menu {
        li {
            list-style-type: none;
            cursor: pointer;

            &:hover {
                color: #8f8f8f;
            }
        }
    }

    &__li-down {
        position: absolute;
        background: black;
        color: white;
        padding-left: 0;
        padding-right: 3rem;

        li {
            padding: 10px;
        }
    }

    &__inputs {
        display: flex;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 54px;
    }

    &__menu {
        display: flex;

        li {
            list-style-type: none;
        }
    }
}

.select {
    margin: 0 auto;
    position: relative;
    width: 100%;

    &.is-active .select__body {
        margin-top: 12px;
        display: block;
    }

    &__header {
        border: 1px solid #1F1F1F;
        cursor: pointer;
        display: flex;
        width: 121px;
    }

    &__current {
        font-size: 18px;
        line-height: 24px;
        padding: 8px;
    }

    &__icon {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        height: 40px;
        margin-left: auto;
        text-align: center;
        width: 40px;
    }

    &__body {
        border: 1px solid #cccccc;
        border-top: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        background: black;
    }

    &__item {
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
        color: white;

        &:hover {
            background-color: #f2f2f2;
            color: black;
        }

    }
}

.by {
    width: 21px;
    height: 9px;
    margin-right: 1px;
}

.search {
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    width: 121px;
}

.main {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1920px;
    margin: auto;

    .slider {
        hr {
            width: 80%;
            height: 1px;
            background-color: #E5E5E5;
            border: none;
        }

        &__images-slide {
            padding-right: 50px;
            width: 100%;
        }

        &__navigation {
            padding: 30px 0 30px 0;
            @include d-flex;
            align-items: center;

            &__arrows-next {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }

            &__arrows-prev {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                }
            }

            &__lable {
                span {
                    font-size: 24px;
                }
            }

            &__arrows {
                @include d-flex;
            }
        }

    }

    .slider2 {
        hr {
            width: 80%;
            height: 1px;
            background-color: #E5E5E5;
            border: none;
        }

        &__sale-red {
            width: 100%;
            height: auto;
            transform: rotate(-6.43deg);
        }

        &__sale-red::after {
            content: 'скидки до -50%';
            font-size: 16px;
            color: white;
            background-color: red;
            padding: 5px;
        }

        &__sale-red::before {
            content: 'скидки до -50%';
            font-size: 16px;
            color: white;
            background-color: red;
            padding: 5px;
        }

        &__images {
            width: 1920px;
            height: 525px;
        }

        &__images-slide1 {
            padding-right: 50px;
            width: 100%;
            background: url(../../src/img/slider2/image2.png) no-repeat;
            display: flex;
            align-items: center;
        }

        &__images-slide2 {
            padding-right: 50px;
            width: 100%;
            background: url(../../src/img/slider2/image3.png) no-repeat;
            display: flex;
            align-items: center;
        }

        &__images-slide3 {
            padding-right: 50px;
            width: 100%;
            background: url(../../src/img/slider2/image4.png) no-repeat;
            display: flex;
            align-items: center;
        }

        &__images-slide4 {
            padding-right: 50px;
            width: 100%;
            background: url(../../src/img/slider2/image1.png) no-repeat;
            display: flex;
            align-items: center;
        }

        &__navigation {
            padding: 30px 0 30px 0;
            @include d-flex;
            align-items: center;

            &__arrows-next {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }

            &__arrows-prev {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                }
            }

            &__lable {
                span {
                    font-size: 24px;
                }
            }

            &__arrows {
                @include d-flex;
            }
        }
    }

}

.coupon {
    &__body-title {
        span {
            color: white;
            font-size: 30px;
        }
    }

    &__body {
        background: black;
        height: 300px;
    }
}


.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;
}

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;

    &__information {
        display: grid;
        padding: 2%;

        button {
            background-color: black;
            color: #E5E5E5;
            width: 37%;
            height: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
        }
    }
}

.buttons {
    &__pile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    &__group {
        button {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
            outline: none;
            border: none;
            width: 170px;
            height: 40px;
            cursor: pointer;
        }

        button:hover {
            color: white;
            background: black;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        }
    }

    &__central {
        margin: 20px 0;
    }
}

.form {
    &__link {
        a {
            text-decoration: none;
            color: black;
        }
    }

    &__body {
        background-color: black;
        width: 100%;
        height: 600px;
    }
}

.form {
    &__popup {
        &__rating {
            overflow: hidden;
            width: 265px;
        }

        &__rating:not(:checked) {
            input {
                display: none;
            }
        }

        &__rating:not(:checked) {
            label {
                float: right;
                width: 22px;
                padding: 0;
                cursor: pointer;
                font-size: 15px;
                line-height: 32px;
                color: #aaddfa;
                ;
            }
        }

        &__rating:not(:checked) {
            label::before {
                content: '★';
            }
        }

        &__rating {
            input:checked~label {
                color: #00A3FF;
            }
        }

        &__rating:not(:checked) {
            label:hover {
                color: #00A3FF;
            }
        }

        &__rating:not(:checked)>label:hover~label {
            color: #00A3FF
        }
    }

    #button {
        outline: none;
        border: none;
        cursor: pointer;
        width: 350px;
        height: 36px;
        background: #00A3FF;
        border-radius: 2px;
    }

    #button:hover {
        transform: translateY(4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
        color: #FFF;
    }

    &__review {
        color: white;
    }
}


.form {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1920px;
    margin: auto;

    &__user-dara {
        padding-top: 40px;
    }

    &__header-arrow {
        color: white;
        min-width: 100px;
        padding-top: 40px;
    }

    &__data {
        display: flex;
    }

    &__user-photo {
        padding: 40px;
    }

    &__user-text {
        width: 95%;
    }

    &__rating {
        color: white;
    }

    &__user-text {
        color: white;
    }

    &__user-name {
        color: white;
    }

    &__user-photo {
        img {
            width: 50px;
            border-radius: 50%;
        }
    }

    &__button {
        button {
            width: 350px;
            height: 36px;
            background: #00A3FF;
            border-radius: 2px;
            color: white;
        }
    }
}

/*form*/
.form {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1920px;
    margin: auto;

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);

        &__content {
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 750px;
            background-color: black;
        }

        &__content-form {
            form {
                margin: auto;

                label {
                    color: white;
                }

                #fit {
                    color: white;
                }

                textarea {
                    width: 692px;
                    height: 200px;
                    resize: none;
                    background: #222222;
                    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
                    color: white;
                }

                label {
                    cursor: pointer;
                    padding: 0 10px 0 0;
                }
            }
        }
    }

    &__user-data {
        padding-top: 40px;
    }

    &__header-arrow {
        color: white;
        min-width: 100px;
        padding-top: 40px;
    }

    &__data {
        display: flex;
    }

    &__user-photo {
        padding: 40px;
    }

    &__user-text {
        width: 95%;
    }

    &__user-photo {
        img {
            width: 50px;
            border-radius: 50%;
        }
    }

    &__header-navigation {
        margin-left: 30%;
    }



    &__close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    &__close:hover,
    &__close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
}

.btn>button {
    width: 350px;
    height: 36px;
    background: #00A3FF;
    border-radius: 2px;
    color: white;
}

.form__rating,
.form__user-text,
.form__user-name {
    color: white;
}

.coupon {
    &__body {
        background: black;
        height: 300px;

        &-title {
            span {
                color: white;
                font-size: 30px;
            }
        }

        &-main {
            display: flex;

            &-sum {
                background-color: white;
                width: 393px;
                height: 124px;
                margin-left: 30px;

                span {
                    font-weight: 900;
                    font-size: 64px;
                    line-height: 75px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                }
            }

            &-btn {
                background-color: white;
                width: 393px;
                height: 124px;

                button {
                    background: linear-gradient(93.01deg, #00A3FF 3.99%, #0078BC 81.61%);
                    box-shadow: 0px 0px 10px #00A3FF;
                    border-radius: 2px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    width: 186px;
                    height: 36px;
                }
            }
        }
    }
}




// @media screen and (max-width: 375px) {
//     .header {

//         // contain
//         &__hero {
//             background: url(../src/img/illiquid/2386.png) center center no-repeat;
//             background-size: cover;
//             min-height: 200px;
//             position: relative;
//         }
//     }
// }