@mixin d-flex {
    display: flex;
}

@font-face {
    fonst-family: "Blacker";
    src: url('../fonts/blacker-sans-display-trial.extralight-italic.ttf');
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: auto;

}

.header {
    margin-left: 4%;
    width: 100%;
    padding: 70px 32px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &__logo {
        background-image: url(../img/logo.png);
        width: 200px;
        height: 53px;
    }

    &__menu {
        @include d-flex;
        align-items: center;

        a {
            margin: 0 7px;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        a:hover {
            color: #4c665d;
        }
    }

    &__inputs {
        @include d-flex;
        align-items: center;

        input {
            margin: 0 8px;
        }
    }

}

.big-banner {
    @include d-flex;
    align-items: flex-end;

    &__label {
        position: relative;
        @include d-flex;
        align-items: flex-end;
        // background-image: url('../img/illiquid/2386.png');
        // width: 100%;
        // height: 100%;

    }
}

.main {
    padding-left: 5%;
}

.slider {
    hr {
        width: 80%;
        height: 1px;
        background-color: #E5E5E5;
        border: none;
    }

    &__images-slide {
        padding-right: 50px;
    }

    &__navigation {
        padding: 30px 0 30px 0;
        @include d-flex;
        align-items: center;

        &__arrows-next {
            cursor: pointer;

            i {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }

        &__arrows-prev {
            cursor: pointer;

            i {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
        }

        &__lable {
            span {
                font-size: 24px;
            }
        }

        &__dash {
            background-color: #1F1F1F;
            width: 1023px;
            height: 1px;
        }

        &__arrows {
            @include d-flex;
        }
    }
}

.coupon {
    &__body-title {
        span {
            color: white;
            font-size: 30px;
        }
    }

    &__body {
        background: black;
        width: 1400px;
        height: 300px;
    }
}


.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;
}

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;

    &__information {
        display: grid;
        padding: 2%;

        button {
            background-color: black;
            color: #E5E5E5;
            width: 37%;
            height: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
        }
    }
}

.buttons {
    &__pile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    &__group {
        button {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
            outline: none;
            border: none;
            width: 170px;
            height: 40px;
            cursor: pointer;
        }

        button:hover {
            color: white;
            background: black;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        }
    }

    &__central {
        margin: 20px 0;
    }
}

.form {
    &__link {
        a {
            text-decoration: none;
            color: black;
        }
    }

    &__body {
        background-color: black;
        width: 100%;
        height: 600px;
    }
}

.form {
    &__user {
        &__rating {
            overflow: hidden;
            width: 265px;
            margin: 0 auto;
        }

        &__rating:not(:checked) {
            input {
                display: none;
            }
        }

        &__rating:not(:checked) {
            label {
                float: right;
                width: 42px;
                padding: 0;
                cursor: pointer;
                font-size: 32px;
                line-height: 32px;
                color: lightgrey;
                text-shadow: 1px 1px #bbb;
            }
        }

        &__rating:not(:checked) {
            label::before {
                content: '★';
            }
        }

        &__rating {
            input:checked~label {
                color: gold;
                text-shadow: 1px 1px #c60;
            }
        }

        &__rating:not(:checked) {
            label:hover {
                color: gold;
            }
        }

        &__rating:not(:checked)>label:hover~label {
            color: gold;
        }
    }
}

// @media screen and (max-width: 1000px) {};