@mixin d-flex {
    display: flex;
}

.header {
    margin: auto;
    max-width: 1920px;

    &__hero {
        background: url(../src/img/illiquid/2386.png) no-repeat;
        background-size: contain;
        padding-top: 120px;
        padding-bottom: 370px;
    }
}

.pd {
    padding: 0;
}

.navbar {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 54px;
    }

    &__menu {
        display: flex;

        li {
            list-style-type: none;
        }
    }

    &__li-down {
        position: absolute;
        background: black;
        color: white;
        padding-left: 0;
        padding-right: 3rem;
        display: none;

        li {
            padding: 10px;
        }
    }
}

.main {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1920px;
    margin: auto;
}



.big-banner {
    @include d-flex;

    img {
        width: 1400px;
    }

    &__label {
        margin: auto;
    }
}

.main {
    min-width: 1200px;
    max-width: 1200px;
    margin: auto;

    .slider {
        hr {
            width: 80%;
            height: 1px;
            background-color: #E5E5E5;
            border: none;
        }

        &__images-slide {
            padding-right: 50px;
        }

        &__navigation {
            padding: 30px 0 30px 0;
            @include d-flex;
            align-items: center;

            &__arrows-next {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }

            &__arrows-prev {
                cursor: pointer;

                i {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                }
            }

            &__lable {
                span {
                    font-size: 24px;
                }
            }

            &__dash {
                background-color: #1F1F1F;
                width: 1023px;
                height: 1px;
            }

            &__arrows {
                @include d-flex;
            }
        }
    }
}



.coupon {
    &__body-title {
        span {
            color: white;
            font-size: 30px;
        }
    }

    &__body {
        background: black;
        width: 1400px;
        height: 300px;
    }
}


.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;
}

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    @include d-flex;

    &__information {
        display: grid;
        padding: 2%;

        button {
            background-color: black;
            color: #E5E5E5;
            width: 37%;
            height: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
        }
    }
}

.buttons {
    &__pile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    &__group {
        button {
            background: rgba(0, 0, 0, 0);
            color: black;
            box-shadow: inset 0 0 0 1px black;
            outline: none;
            border: none;
            width: 170px;
            height: 40px;
            cursor: pointer;
        }

        button:hover {
            color: white;
            background: black;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        }
    }

    &__central {
        margin: 20px 0;
    }
}

.form {
    &__link {
        a {
            text-decoration: none;
            color: black;
        }
    }

    &__body {
        background-color: black;
        width: 100%;
        height: 600px;
    }
}

.form {
    &__popup {
        &__rating {
            overflow: hidden;
            width: 265px;
        }

        &__rating:not(:checked) {
            input {
                display: none;
            }
        }

        &__rating:not(:checked) {
            label {
                float: right;
                width: 22px;
                padding: 0;
                cursor: pointer;
                font-size: 15px;
                line-height: 32px;
                color: #aaddfa;
                ;
            }
        }

        &__rating:not(:checked) {
            label::before {
                content: '★';
            }
        }

        &__rating {
            input:checked~label {
                color: #00A3FF;
            }
        }

        &__rating:not(:checked) {
            label:hover {
                color: #00A3FF;
            }
        }

        &__rating:not(:checked)>label:hover~label {
            color: #00A3FF
        }
    }

    #button {
        outline: none;
        border: none;
        cursor: pointer;
        width: 350px;
        height: 36px;
        background: #00A3FF;
        border-radius: 2px;
    }

    #button:hover {
        transform: translateY(4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
        color: #FFF;
    }

    &__user {
        &__foto {
            img {
                width: 50px;
                border-radius: 50%;
            }
        }

        &__review {
            color: white;
        }
    }
}

// @media screen and (max-width: 1000px) {};